.listbox {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    background-color: black;
}

.button {
    border-radius: 5px;
}

.divide {
    height: 2px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(198, 197, 197);
}