.barCard {
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 600px;
    float: left;
    display: block;
    flex-direction: column;
    justify-content: center;
}

.divide {
    height: 2px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(198, 197, 197);
}

.title {
    font-size: 30px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 15px;
}