.contain {
    /* font-size: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.blackPart {
    display: grid;
    place-items: center;
}

.name {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.building{
    /* margin-left: 10px; */
    font-size: small;
    color: gray;
}

.room{
    width: 1.5rem;
    font-size: larger;
}

.firstLine{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.time{
    font-size: small;
    color: gray;
    padding-left: 1rem;
}